rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /profiles/{imageId} {
      allow read: if true;
      allow write: if request.resource.contentType.matches('image/.*')
                   && request.resource.size < 5 * 1024 * 1024;
    }

    match /archive/{allPaths=**} {
      allow read: if true;
      allow write: if request.resource.contentType.matches('image/.*')
                   && request.resource.size < 5 * 1024 * 1024;
    }

    match /scores/{allPaths=**} {
      allow read: if true;
      allow create, update: if request.resource.contentType == 'application/pdf'
                            && request.resource.size < 30 * 1024 * 1024;
      allow delete: if true;
    }
  }
}
